@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer theme, base, components, utilities;

@layer base {
    h1 {
        font-size: var(--text-2xl)
    }
}

@theme {
    /*--breakpoint-*: initial;*/
    /*--breakpoint-tablet: 40rem;*/
    /*--breakpoint-laptop: 64rem;*/
    /*--breakpoint-desktop: 80rem;*/

    --container-md: 40rem;
}

@custom-variant dark (&:where(.dark, .dark *))
/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *))*/